@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu&display=swap");

:root {
  --body-color: #ededf2;
  --green-color: #96b49c;
  --secundary-color: #5b5847;
  --blue-color: #172c3c;
  --white-color: #ffffff;
  --gray-color: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

i {
  margin-right: 5px;
}
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-color);
  padding: 50px 40px;
  z-index: 999;
}

#iconHeader {
  display: none;
  font-size: 30px;
}

.title1 {
  font-weight: 500;
}

.nav-header active {
  display: none;
}

.nav-header a {
  color: var(--white-color);
  font-size: 18px;
  transition: 0.2s ease-in-out;
  font-weight: 700;
}

.nav-header ul {
  display: flex;
}

.nav-header li {
  margin: 0px 15px;
}

.nav-header li a:hover {
  color: var(--secundary-color);
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#sobre {
  display: flex;
  width: 100%;
  padding-bottom: 120px;
}

.danielle_img {
  display: flex;
  width: 50%;
  background-color: var(--secundary-color);
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.danielle_img img {
  max-width: 400px;
  outline: 3px solid black;
  border-radius: 50%;
}

.sobreContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 10px;
}

.sobreContent h1 {
  color: var(--blue-color);
  font-size: 3rem;
  font-weight: 800;
}

.job {
  color: var(--secundary-color);
  font-size: 25px;
  font-weight: 800;
}

#utilidade {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  background-color: var(--gray-color);
  margin-top: -120px;
  margin-bottom: 120px;
}

.titleUtilit {
  text-align: center;
  font-size: 30px;
  color: var(--blue-color);
}

.beneficios ul {
  display: flex;
  margin-top: 70px;
  list-style: none;
  justify-content: space-between;
  padding: 0px 40px;
}

.beneficios ul li {
  font-weight: bold;
  padding: 0px 0;
  font-size: 30px;
}

#publico {
  background-color: var(--green-color);
  padding: 120px 10px;
  margin-top: -180px;
}

.publicoTitle h1 {
  padding: 30px;
  font-size: 50px;
}

.publicoContent {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.imgPublico {
  outline: 3px solid black;
  border-radius: 50%;
  border: 3px solid var(--white-color);
  box-shadow: 20px -15px black;
}

.leftCard,
.rightCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:is(.leftCard, .rightCard) :is(p) {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

#contato {
  background-color: var(--blue-color);
  padding: 30px 20px;
}

.dani_img_mobile img {
  width: 300px;
}

.dani_img_mobile {
  display: none;
  width: 100%;
}

#contato :is(h1, h2) {
  color: var(--white-color);
}

.contatoh1 {
  padding: 50px 0;
}

.contatoh1 h1 {
  font-size: 40px;
  font-family: "Phudu";
  font-weight: 700;
}

.contatoBlock {
  display: flex;
}

.contatoBlock article {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contatoBlock aside {
  display: flex;
  justify-content: center;
  width: 50%;
}

.contatoBlock aside img {
  width: 350px;
}

.social-medias {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

#insta {
  margin-top: 5px;
}

.social-medias ul {
  display: flex;
}

.social-medias ul li {
  padding: 10px;
}

@media (max-width: 944px) {
  header {
    padding: 10px 15px;
  }

  #iconHeader {
    padding: 5px;
  }

  #sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .danielle_img {
    display: flex;
    width: 100%;
  }

  .danielle_img img {
    width: 300px;
  }

  .sobreContent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
  }

  .sobreContent :is(h1, p) {
    text-align: center;
    margin: 8px 12px;
  }

  #utilidade {
    padding: 235px 0 50px 0px;
    margin-top: -200px;
  }

  .beneficios ul {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .beneficios ul li {
    padding: 40px 0;
  }

  .titleUtilit h1 {
    padding-bottom: 50px;
  }

  .titleUtilit,
  .beneficios {
    margin-top: -80px;
  }

  #publico {
    padding: 120px 0;
    text-align: center;
  }

  .publicoContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  #contato {
    padding: 120px 10px 50px 10px;
  }

  .contatoBlock aside {
    display: none;
  }

  .contatoBlock :is(.social-medias, h2) {
    display: flex;
    text-align: center;
    width: 200%;
    align-items: center;
  }

  .dani_img_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  #iconHeader {
    display: block;
    color: white;
    font-size: 40px;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 970;
  }

  .nav-header {
    right: -100%;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 55vw;
    background-color: rgb(216, 216, 216);
    overflow: hidden;
    transition: opacity 0.3s ease;
  }

  .nav-header.active {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 60vw;
    z-index: 1000;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    overflow: hidden;
    transition: all 0.4s;
  }

  .nav-header.active ul {
    height: 110vh;
    flex-direction: column;
    margin-top: 200px;
  }

  .nav-header.active ul li {
    margin-top: 20px;
    padding: 20px;
  }

  .nav-header.active ul li a {
    color: #000;
    font-size: 35px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 944px) {
  .logo {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .publicoContent :is(img) {
    width: 200px;
  }
}

::-webkit-scrollbar {
  background-color: var(--green-color);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secundary-color);
}

::selection {
  background-color: var(--gray-color);
}
