@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu&display=swap");

:root {
  --body-color: #ededf2;
  --green-color: #96b49c;
  --secundary-color: #5b5847;
  --blue-color: #172c3c;
  --white-color: #ffffff;
  --gray-color: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-color);
  padding: 50px 40px;
}

#sandwich-menu {
  display: none;
  font-size: 30px;
}

.title1 {
  font-weight: 500;
}

.nav-header a {
  color: var(--white-color);
  font-size: 18px;
  transition: 0.2s ease-in-out;
  font-weight: 700;
}

.nav-header ul {
  display: flex;
}

.nav-header li {
  margin: 0px 15px;
}

.nav-header li a:hover {
  color: var(--secundary-color);
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#sobre {
  display: flex;
  width: 100%;
  padding-bottom: 120px;
}

.danielle_img {
  display: flex;
  width: 50%;
  background-color: var(--secundary-color);
  justify-content: center;
  padding: 20px 0;
}

.danielle_img img {
  outline: 3px solid black;
  border-radius: 50%;
}

.sobreContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 10px;
}

.sobreContent h1 {
  color: var(--blue-color);
  font-size: 3rem;
  font-weight: 800;
}

.job {
  color: var(--secundary-color);
  font-size: 25px;
  font-weight: 800;
}

#utilidade {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  background-color: var(--gray-color);
  margin-top: -120px;
}

.titleUtilit {
  text-align: center;
  font-size: 30px;
  color: var(--blue-color);
}

.beneficios ul {
  display: flex;
  margin-top: 70px;
  list-style: none;
  justify-content: space-between;
  padding: 0px 100px;
}

.beneficios ul li {
  font-weight: bold;
  font-size: 30px;
}

#publico {
  background-color: var(--green-color);
  padding: 30px 10px;
}

.publicoTitle h1 {
  padding: 30px;
  font-size: 50px;
}

.publicoContent {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.imgPublico {
  outline: 3px solid black;
  border-radius: 50%;
  border: 3px solid var(--white-color);
  box-shadow: 20px -15px black;
}

.leftCard,
.rightCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:is(.leftCard, .rightCard) :is(p) {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

#contato {
  background-color: var(--blue-color);
  padding: 30px 20px;
}

#contato :is(h1, h2) {
  color: var(--white-color);
}

.contatoh1 {
  padding: 50px 0;
}

.contatoh1 h1 {
  font-size: 40px;
  font-family: "Phudu";
  font-weight: 700;
}

.contatoBlock {
  display: flex;
}

.contatoBlock article {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contatoBlock aside {
  display: flex;
  justify-content: center;
  width: 50%;
}

.contatoBlock aside img {
  width: 80%;
}

.social-medias {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

#insta {
  margin-top: 5px;
}

.social-medias ul {
  display: flex;
}

@media (max-width: 944px) {
  header {
    padding: 50px 15px;
  }
}

@media (max-width: 900px) {
  #sandwich-menu {
    display: block;
  }

  .nav-header {
    display: none;
  }
}

@media (max-width: 944px) {
  .logo {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  background-color: var(--green-color);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secundary-color);
}

::selection {
  background-color: var(--gray-color);
}
